<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Treasure Tracker</title>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

    <div th:if="${not #lists.isEmpty(items)}">
        <table class="table table-striped">
            <caption>Items</caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Item Type</th>
                <th>Item Subtype</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Value</th>
                <th>Height</th>
                <th>Width</th>
                <th>Length</th>
                <th>Weight</th>
                <th>Source</th>
                <th>Tags</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.itemType}"></td>
                <td th:text="${item.itemSubType}"></td>
                <td th:text="${item.amount}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.value}"></td>
                <td th:text="${item.height}"></td>
                <td th:text="${item.width}"></td>
                <td th:text="${item.length}"></td>
                <td th:text="${item.weight}"></td>
                <td th:text="${item.source}"></td>
                <td th:text="${item.tags}"></td>
                <td><a th:href="${'/edit-item/' + item.id}">edit</a></td>
            </tr>
            </tbody>
        </table>
        <div>
            <a class="button" href="/add-item">Add a item</a>
        </div>
    </div>
</div>

</body>
</html>