<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

    <div>
        <table class="table table-view">
            <caption th:text="${caption}"></caption>
            <tbody>
            <td><a class="button" href="/add-item">Loot an item</a></td>
            <td><a class="button" href="/buy-item">Buy an item</a></td>
            <td></td>
            </tbody>
        </table>
    </div>

    <div th:if="${not #lists.isEmpty(items)}">
        <table class="table table-striped">
<!--            <caption>Items</caption>-->
            <thead>
            <tr>
                <th>Name</th>
                <th>Item Type</th>
                <th>Item Subtype</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Value</th>
                <th>Height</th>
                <th>Width</th>
                <th>Length</th>
                <th>Weight</th>
                <th>Source</th>
                <th>Tags</th>
                <th>Container</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td><a th:text="${item.name}" th:href="${'/view-item/' + item.id}"></a></td>
                <td th:text="${item.itemType}"></td>
                <td th:text="${item.itemSubType}"></td>
                <td th:text="${item.amount}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.value}"></td>
                <td th:text="${item.height}"></td>
                <td th:text="${item.width}"></td>
                <td th:text="${item.length}"></td>
                <td th:text="${item.weight}"></td>
                <td th:text="${item.source}"></td>
                <td th:text="${item.tags}"></td>
                <td><a th:if="${item.container != null}" th:text="${item.container.name}"
                       th:href="${'/query/container/' + item.container.id} +'/items'"></a></td>
                <td th:unless="${item.container != null}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>