<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->
    <h2>Submit Query</h2>
    <div>
        <form class="form-horizontal" th:object="${query}" th:action="@{/query}" method="post">

            <div class="form-group">
                <label class="col-sm-2 control-label">SQL Query:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="${query.query}"/></div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>