<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->
    <div>
        <table class="table table-striped">
            <caption>Coin Totals</caption>
            <thead>
            <tr>
                <th>Total Coin Value (gp)</th>
                <th>Platinum</th>
                <th>Gold</th>
                <th>Electrum</th>
                <th>Silver</th>
                <th>Copper</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${totals.coins.total}"></td>
                <td th:text="${totals.coins.platinum}"></td>
                <td th:text="${totals.coins.gold}"></td>
                <td th:text="${totals.coins.electrum}"></td>
                <td th:text="${totals.coins.silver}"></td>
                <td th:text="${totals.coins.copper}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="table table-striped">
            <caption>Gem Totals</caption>
            <thead>
            <tr>
                <th></th>
                <th>Totals</th>
                <th>Agate</th>
                <th>Amber</th>
                <th>Amethyst</th>
                <th>Azurite</th>
                <th>BandedAgate</th>
                <th>Bloodstone</th>
                <th>Carnelians</th>
                <th>Chrysoberyl</th>
                <th>Coral</th>
                <th>Diamond</th>
                <th>Hematite</th>
                <th>Jade</th>
                <th>Jasper</th>
                <th>Jet</th>
                <th>Moonstone</th>
                <th>Onyx</th>
                <th>Pearl</th>
                <th>Quartz</th>
                <th>Tigerseye</th>
                <th>Tourmaline</th>
                <th>Turquoise</th>
                <th>Zircon</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Count</td>
                <td th:text="${totals.gems.total.count}"></td>
                <td th:text="${totals.gems.agate.count}"></td>
                <td th:text="${totals.gems.amber.count}"></td>
                <td th:text="${totals.gems.amethyst.count}"></td>
                <td th:text="${totals.gems.azurite.count}"></td>
                <td th:text="${totals.gems.bandedAgate.count}"></td>
                <td th:text="${totals.gems.bloodstone.count}"></td>
                <td th:text="${totals.gems.carnelians.count}"></td>
                <td th:text="${totals.gems.chrysoberyl.count}"></td>
                <td th:text="${totals.gems.coral.count}"></td>
                <td th:text="${totals.gems.diamond.count}"></td>
                <td th:text="${totals.gems.hematite.count}"></td>
                <td th:text="${totals.gems.jade.count}"></td>
                <td th:text="${totals.gems.jasper.count}"></td>
                <td th:text="${totals.gems.jet.count}"></td>
                <td th:text="${totals.gems.moonstone.count}"></td>
                <td th:text="${totals.gems.onyx.count}"></td>
                <td th:text="${totals.gems.pearl.count}"></td>
                <td th:text="${totals.gems.quartz.count}"></td>
                <td th:text="${totals.gems.tigerseye.count}"></td>
                <td th:text="${totals.gems.tourmaline.count}"></td>
                <td th:text="${totals.gems.turquoise.count}"></td>
                <td th:text="${totals.gems.zircon.count}"></td>
            </tr>
            <tr>
                <td>Value</td>
                <td th:text="${totals.gems.total.count}"></td>
                <td th:text="${totals.gems.agate.count}"></td>
                <td th:text="${totals.gems.amber.count}"></td>
                <td th:text="${totals.gems.amethyst.count}"></td>
                <td th:text="${totals.gems.azurite.count}"></td>
                <td th:text="${totals.gems.bandedAgate.count}"></td>
                <td th:text="${totals.gems.bloodstone.count}"></td>
                <td th:text="${totals.gems.carnelians.count}"></td>
                <td th:text="${totals.gems.chrysoberyl.count}"></td>
                <td th:text="${totals.gems.coral.count}"></td>
                <td th:text="${totals.gems.diamond.count}"></td>
                <td th:text="${totals.gems.hematite.count}"></td>
                <td th:text="${totals.gems.jade.count}"></td>
                <td th:text="${totals.gems.jasper.count}"></td>
                <td th:text="${totals.gems.jet.count}"></td>
                <td th:text="${totals.gems.moonstone.count}"></td>
                <td th:text="${totals.gems.onyx.count}"></td>
                <td th:text="${totals.gems.pearl.count}"></td>
                <td th:text="${totals.gems.quartz.count}"></td>
                <td th:text="${totals.gems.tigerseye.count}"></td>
                <td th:text="${totals.gems.tourmaline.count}"></td>
                <td th:text="${totals.gems.turquoise.count}"></td>
                <td th:text="${totals.gems.zircon.count}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</
</v>

</body>
</html>