<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

    <div>
        <table class="table table-striped">
            <caption>Coins</caption>
            <thead>
            <tr>
                <th>Container</th>
                <th>Total Coin Value (gp)</th>
                <th>Platinum</th>
                <th>Gold</th>
                <th>Electrum</th>
                <th>Silver</th>
                <th>Copper</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="total : ${totals}">
                <td th:text="${total.container.name}"></td>
                <td th:text="${total.coins.total}"></td>
                <td th:text="${total.coins.platinum}"></td>
                <td th:text="${total.coins.gold}"></td>
                <td th:text="${total.coins.electrum}"></td>
                <td th:text="${total.coins.silver}"></td>
                <td th:text="${total.coins.copper}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="table table-striped">
            <caption>Gems</caption>
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="total : ${totals}">
                <td th:text="${total.container.name}"></td>
                <td>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Total Value</th>
                            <th>Total Items</th>
                            <th>Denominations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${total.gems}">
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.value}"></td>
                            <td th:text="${item.count}"></td>
                            <td th:text="${item.denominations}"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>

    </div>


    <div>
        <table class="table table-striped">
            <caption>Jewelry</caption>
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="total : ${totals}">
                <td th:text="${total.container.name}"></td>
                <td>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Total Value</th>
                            <th>Total Items</th>
                            <th>Denominations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${total.jewelry}">
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.value}"></td>
                            <td th:text="${item.count}"></td>
                            <td th:text="${item.denominations}"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div>
        <table class="table table-striped">
            <caption>Other Valuables</caption>
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="total : ${totals}">
                <td th:text="${total.container.name}"></td>
                <td>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Total Value</th>
                            <th>Total Items</th>
                            <th>Denominations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${total.other}">
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.value}"></td>
                            <td th:text="${item.count}"></td>
                            <td th:text="${item.denominations}"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>